<html>
<head>
<script src="http://code.jquery.com/jquery-1.5.2.min.js"></script>
<script src="static/jquery.tablesorter.min.js"></script>
<script src="static/prettify.js"></script>
<script src="static/application.js"></script>
<script type="application/javascript" src="c3dl/c3dapi.js"></script>
<!-- <script type="application/javascript" src="static/scescn.setMouseCallback(mouseUp,mouseDown, mouseMove);nejs.js"></script> -->

<link rel="stylesheet" type="text/css" href="static/bootstrap-1.2.0.min.css">
<link rel="stylesheet" type="text/css" href="static/prettify.css">

<script>

//This function is going to be called when the user releases a key.
// If shift is currently pressed, the camera will stop rotating in that direction,
// if shift is not being held, the camera will stop moving.
function up(event){//a key is released
    var cam = scn.getCamera();
    var vel;
    if(event.shiftKey) {
        switch(event.keyCode) {//determine the key released, if it is any of the angular velocity keys, set angular velocity to 0
            case 65://a key
            case 68://d key
            case 37://left arrow
            case 39://right arrow
            case 83://s key
            case 40://down arrow
            case 87://w key
            case 38://up arrow
                cam.setAngularVel([0,0,0]);//stop rolling
            break;
        }
    }
    else {
        var pos = cam.getPosition();
        switch(event.keyCode) {//determine the key released, if it is one of the linear velocity keys, set linear velocity to 0
            case 65://a key
            case 37://left arrow
            case 68://d key
            case 39://right arrow
            case 83://s key
            case 40://down arrow
            case 87://w key
            case 38://up arrow
                cam.setLinearVel([0,0,0]);
            break;
            case 16://shift key
                cam.setAngularVel([0,0,0]);
            break;
        }
    }
}

//This function is going to be called when the user presses a key.
// If shift is currently pressed, the camera will start rotating in the chosen direction,
// if shift is not being held, the camera will move.
function down(event){//a key is released
    var cam = scn.getCamera();
    if(event.shiftKey) {
        switch(event.keyCode) {//determine the key pressed
            case 65://a key
                cam.setAngularVel([0,0,-0.001]);//roll the camera left
                break;
            case 37://left arrow
                cam.setAngularVel([0,0.001,0]);//yaw left
                break;
            case 68://d key
                cam.setAngularVel([0,0,0.001]);//roll the camera right
                break;
            case 39://right arrow
                cam.setAngularVel([0,-0.001,0]);//yaw right
                break;
            case 83://s key
            case 40://down arrow
                cam.setAngularVel([0.001,0,0]);//pitch down
            break;
            case 87://w key
            case 38://up arrow
                cam.setAngularVel([-0.001,0,0]);//pitch up
            break;
        }
    }
    else {
        var mov = [0,0,0];
        switch(event.keyCode) {//deterime the key pressed
            case 65://a key
            case 37://left arrow
                mov = c3dl.multiplyVector(cam.getLeft(),0.1,mov);
            break;
            case 68://d key
            case 39://right arrow
                mov = c3dl.multiplyVector(cam.getLeft(),-0.1,mov);
            break;
            case 83://s key
                mov = c3dl.multiplyVector(cam.getUp(),-0.1,mov);//move the camera down
            break;
            case 40://down arrow
                mov = c3dl.multiplyVector(cam.getDir(),-0.1,mov); //move the camera 'back' (towards the user)
            break;
            case 87://w key
                mov = c3dl.multiplyVector(cam.getUp(),0.1,mov); //move the camera up
            break;
            case 38://up arrow
                mov = c3dl.multiplyVector(cam.getDir(),0.1,mov);//move the camera 'forward' (into the scene)
            break;
            case 16://shift key, stop linear movement
                cam.setLinearVel([0.0,0.0,0.0]);
            break;
        }
        cam.setLinearVel(mov);
    }
}

var isDragging = false; //tracks or not the user is currently dragging the mouse
var rotationStartCoords = [0,0]; //The mouse coordinates at the beginning of a rotation
var SENSITIVITY = 1.5;

//Called when the user releases the left mouse button.
//Records that the user is no longer dragging the mouse
function mouseUp(evt)
{
if(evt.which == 1)
{
isDragging = false;
}
}

//Called when the user presses the left mouse button.
//Records that the user may start to drag the mouse, along with the current X & Y
// coordinates of the mouse.
function mouseDown(evt)
{
if(evt.which == 1)
{
isDragging = true;
rotationStartCoords[0] = xevtpos(evt);
rotationStartCoords[1] = yevtpos(evt);
}
}

//Called when the mouse moves
//This function will only do anything when the user is currently holding
// the left mouse button.  It will determine how far the cursor has moved
// since the last update and will pitch and yaw the camera based on that
// amount and the sensitivity variable.
function mouseMove(evt)
{
if(isDragging == true)
{
                var cam = scn.getCamera();
var x = xevtpos(evt);
var y = yevtpos(evt);

// how much was the cursor moved compared to last time
// this function was called?
var deltaX = x - rotationStartCoords[0];
                var deltaY = y - rotationStartCoords[1];

cam.yaw(-deltaX * SENSITIVITY);
cam.pitch(deltaY * SENSITIVITY);

// now that the camera was updated, reset where the
// rotation will start for the next time this function is 
// called.
rotationStartCoords = [x,y];
}
}

//Calculates the current X coordinate of the mouse in the client window
function xevtpos(evt)
{
    return 2 * (evt.clientX / evt.target.width) - 1;
}

//Calculates the current Y coordinate of the mouse in the client window
function yevtpos(evt)
{
    return 2 * (evt.clientY / evt.target.height) - 1;
}

function spin(time){
 // time is in milliseconds. Thus 3000 millisecond is 3 seconds.
 timesincelastchange+=time;

 //if its been 3 sec or more since we stopped or started the spinning
 //change it.
 if(timesincelastchange >=3000){
 y = -1*y;
 fighter.setAngularVel(new Array(0.0,y,0.0));
 timesincelastchange = 0;
 }
}

c3dl.addMainCallBack(canvasMain, "canvas");
c3dl.addModel("assets/bulk.dae");
c3dl.addModel("assets/planet.dae");
c3dl.addModel("assets/skysphere.dae");
var sm;
var planet;
var fighter;

// The program main
function canvasMain(canvasName){

 // Create new c3dl.Scene object
 scn = new c3dl.Scene();
 scn.setCanvasTag(canvasName);

 // Create GL context
 renderer = new c3dl.WebGL();
 renderer.createRenderer(this);

 // Attach renderer to the scene
 scn.setRenderer(renderer);
 scn.setAmbientLight([0.0,0.0,0.0,0.0]);
 scn.init(canvasName);

 //the isReady() function tests whether or not a renderer
 //is attached to a scene.  If the renderer failed to
 //initialize this will return false but only after you
 //try to attach it to a scene.
 if(renderer.isReady() )
 {
 // Create a Collada object that
 // will contain a imported
 // model of something to put
 // in the scene.
 fighter = new c3dl.Collada();

 planet = new c3dl.Collada();

 // If the path is already parsed
 // (as it is in this case)
 // then the model is automatically retrieved
 // from a collada manager.
 fighter.init("assets/bulk.dae");
 planet.init("assets/planet.dae");
planet.pitch(-3.14159/2);
planet.setAngularVel(new Array(0.0, 0.0, -.000003));

 // Give the duck a bit of a spin on y
 fighter.setAngularVel(new Array(0.0, 0.0, -.00003));
 fighter.scale([30.0, 30.0, 30.0]);

 planet.scale([10.0, 10.0, 10.0]);

 planet.setPosition([-500.0,-500.0,0.0]);

 // Add the object to the scene
 scn.addObjectToScene(fighter);

 scn.addObjectToScene(planet);

// create the skymodel which has the stars
var sm = new c3dl.Collada();
sm.init('assets/skysphere.dae');

 //var x, y, z, point;
 //var i = 0;
 //while(i<1000){
 // if(i%8==0){
 //    x = Math.floor(Math.random()*2000);
 //    y = Math.floor(Math.random()*2000);
 //    z = Math.floor(Math.random()*2000);
 // }
 // else if(i%8==1){
 //   x = Math.floor(Math.random()*2000);
 //   y = Math.floor(Math.random()*2000);
 //   z = -Math.floor(Math.random()*2000);
 // }
 // else if(i%8==2){
 //   x = Math.floor(Math.random()*2000);
 //   y = -Math.floor(Math.random()*2000);
 //   z = Math.floor(Math.random()*2000);
 // }
 // else if(i%8==3){
 //   x = Math.floor(Math.random()*2000);
 //   y = -Math.floor(Math.random()*2000);
 //   z = -Math.floor(Math.random()*2000);
 // }
 // else if(i%8==4){
 //   x = -Math.floor(Math.random()*2000);
 //   y = Math.floor(Math.random()*2000);
 //   z = Math.floor(Math.random()*2000);
 // }
 // else if(i%8==5){
 //   x = -Math.floor(Math.random()*2000);
  //  y = -Math.floor(Math.random()*2000);
  //  z = Math.floor(Math.random()*2000);
 // }
 // else if(i%8==6){
 //   x = -Math.floor(Math.random()*2000);
 //   y = Math.floor(Math.random()*2000);
 //   z = -Math.floor(Math.random()*2000);
 // }
 // else if(i%8==7){
 //   x = -Math.floor(Math.random()*2000);
  //  y = -Math.floor(Math.random()*2000);
  //  z = -Math.floor(Math.random()*2000);
 // }

  //if((Math.pow(x,2) + Math.pow(y,2) + Math.pow(z,2)) > 10000) {
  //  point = new c3dl.Point();
  //  point.setPosition([x, y, z]);
  //  point.setColor([Math.random(), 1, Math.random()]);
  //  point.setVisible(true);
  //  scn.addObjectToScene(point);
  //  i++;
 // }
//}

 var cam = new c3dl.OrbitCamera();
  cam.setFarthestDistance(1000.0);
cam.setClosestDistance(60.0);
  cam.setOrbitPoint([0.0, 0.0, 0.0]);
  cam.setDistance(100.0);

 // Place the camera.
 // WebGL uses a right handed co-ordinate system.
 // move 200 to the right
 // move 300 up
 // move 500 units out
 cam.setPosition(new Array(200.0, 300.0, 500.0));

 // Point the camera.
 // Here it is pointed at the same location as
 // the duck so the duck will appear centered.
 //cam.setLookAtPoint(new Array(0.0, 0.0, 0.0));

scn.setSkyModel(sm);

 // Add the camera to the scene
 scn.setCamera(cam);

 var diffuse = new c3dl.PositionalLight();
 diffuse.setName('diffuse');
 diffuse.setPosition([100.0,150.0,250.0]);
 diffuse.setDiffuse([1.0,1.0,1.0]);
 diffuse.setSpecular([1.0,1.0,1.0]);
 diffuse.setOn(true);
 scn.addLight(diffuse);

var diffuse2 = new c3dl.DirectionalLight();
 diffuse2.setName('diffuse2');
 diffuse2.setDirection([-.2,-.3,-.5]);
 diffuse2.setDiffuse([1.0,1.0,1.0]);
 diffuse2.setSpecular([1.0,1.0,1.0]);
 diffuse2.setOn(true)
 scn.addLight(diffuse2);

var spot = new c3dl.SpotLight();
spot.setName('spot');
spot.setPosition([-200.0,300.0,500.0]);
spot.setDiffuse([1,1,1]);
spot.setSpecular([1,1,1]);
spot.setOn(true);
spot.setDirection([.2,-.3,-.5]);
scn.addLight(spot);

scn.setMouseCallback(mouseUp,mouseDown, mouseMove);
scn.setKeyboardCallback(up,down);

scn.setBackgroundColor([0,0,0]);
//scn.setSkyModel(skybox);

 // Start the scene
 scn.startScene();
 }
}
</script>

<!-- <script type="text/javascript" src="assets/fighter.js"></script>
<script type="text/javascript">
SceneJS.createScene({
    type: "scene",
    id: "myScene",
    canvasId: "canvas" , // Bind to canvas
    loggingElementId: "theLoggingDiv", // Log to DIV

    nodes: [
        {
            type: "lookAt",
            id: "theLookat",
            eye : { x: -1.0, y: 0.0, z: 15 },
            look : { x: -1.0, y: 0, z: 0 },
            up : { y: 1.0 },

            nodes: [
                {
                    type: "camera",
                    optics: {
                        type: "perspective",
                        fovy : 55.0,
                        aspect : 1.47,
                        near : 0.10,
                        far : 300.0
                    },

                    nodes: [
                        {
                            type: "light",
                            mode:                   "dir",
                            color:                  { r: 1.0, g: 1.0, b: 1.0 },
                            dir:                    { x: 1.0, y: -0.5, z: -1.0 },
                            diffuse:                true,
                            specular:               true
                        },
                        {
                            type: "light",
                            mode:                   "dir",
                            color:                  { r: 1.0, g: 1.0, b: 1.0 },
                            dir:                    { x: -1.0, y: -0.5, z: -3.0 },
                            diffuse:                true,
                            specular:               true
                        },
                        {
                            type: "rotate",
                            id: "yaw",
                            angle : 0.0 ,
                            y : 1.0,

                            nodes: [
                                {
                                    type: "rotate",
                                    id: "pitch",
                                    angle : 30.0,
                                    x : 1.0,

                                    nodes: [
                                        fighter
                                    ]
                                }
                            ]
                        }
                    ]
                }
            ]
        }
    ]
});

/*----------------------------------------------------------------------
 * Disable scene graph compilation (disabled by default in V0.8).
 *
 * This feature is alpha status and may break some scene graphs.
 *
 * It can speed your scene graph up by an order of magnitude - we'll
 * do it here just to show how it's done.
 *
 * http://scenejs.wikispaces.com/V0.8+Branch
 *---------------------------------------------------------------------*/

SceneJS.setDebugConfigs({
    compilation : {
        enabled : false
    }
});


var pInterval;
var yaw = 305;
var pitch = 10;
var lastX;
var lastY;
var dragging = false;
var canvas = document.getElementById("theCanvas");

function mouseDown(event) {
    lastX = event.clientX;
    lastY = event.clientY;
    dragging = true;
}

function mouseUp() {
    dragging = false;
}

function mouseMove(event) {
    if (dragging) {
        yaw += (event.clientX - lastX) * 0.5;
        pitch += (event.clientY - lastY) * 0.5;
        lastX = event.clientX;
        lastY = event.clientY;

        var scene = SceneJS.scene("myScene");
        scene.findNode("pitch").set("angle", pitch);
        scene.findNode("yaw").set("angle", yaw);

    }
}

canvas.addEventListener('mousedown', mouseDown, true);
canvas.addEventListener('mousemove', mouseMove, true);
canvas.addEventListener('mouseup', mouseUp, true);

SceneJS.scene("myScene").start();
</script> -->

</head>
<body style="padding-top: 40px;">
  <!--<div id="framerate" style="position:absolute; z-index: 100; left: 1020px; top: 50px; background-color: #000; opacity: 0.python -m SimpleHTTPServer5;height: 30px; width: 130px; border-radius: 5px; -moz-border-radius5px;-webkit-border-radius:5px;border: 1px solid #fff;">
    <div id="debug" style="padding: 5px"></div>
  </div>-->
  <div class="topbar-wrapper" style="z-index: 5;">
    <div class="topbar">
      <div class="topbar-inner">
	<div class="container">
          <h3><a href="#">Space Game</a></h3>
          <ul class="nav">
            <li class="active"><a href="#">Overview</a></li>
            <li><a href="#">Economy</a></li>
            <li><a href="#">Military</a></li>
            <li><a href="#">Scouting</a></li>
	    <li><a href="#">Diplomacy</a></li>
          </ul>
          <ul class="nav secondary-nav">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle">Dropdown</a>
              <ul class="dropdown-menu">
                <li><a href="#">Secondary link</a></li>
                <li><a href="#">Something else here</a></li>
                <li class="divider"></li>
                <li><a href="#">Another link</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div><!-- /topbar-inner -->
    </div><!-- /topbar -->
  </div><!-- /topbar-wrapper -->
  <div class="container-fluid">
    <div class="sidebar">
      <h1>Status</h1>
      <ul>
	<l1>Units: 1</li>
    </div>
    <div class="content">
      <div class="row">
        <div class="span16">
	  <div style="width:900px;margin:auto;position:relative" id="canvas-container">
          <canvas id="canvas" width="900" height="675"></canvas>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
